*{
    margin: 0;
    padding: 0;
}

/*===== Colores =====*/
:root{
    --first-color: #5361FF; 
    --white-color: #FAFAFF;
    --dark-color: #2A3B47;
    --text-color: #697477;
    --back-color: #5361ff15;
}

.first-header{
    width: 100%;
    background-color: var(--first-color);
    height: 50px;
    line-height: 50px; 
}

.nav__logo{
    margin-left: 25px;
}

.nav{
    height: var(--header-height);
    display: flex;
    justify-content: space-between;
    align-items: center;
}   

.nav-list{
    list-style: none;
    display: inline;
}

.links{
    text-decoration: none;
    display: inline;
    float: left;
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
    color: var(--white-color);   
    padding-left: 10px; 
    padding-right: 10px; 
}

.links :hover{
    background-color: var(--white-color);
    color: var(--first-color);
    transition-duration: 0.3s;
}

.list-item :hover{
    background-color: var(--white-color);
    color: var(--first-color);
    transition-duration: 0.3s;
}

.logo{
    margin-left: 25px;
    font-family: arial;
}

.list-item{
    float: left;
    margin-right: 25px;
}

/* HOME */

.home{
    width: 80%;
    height: 100%;
    background-color: none;
    border-radius: 30px;
    margin: auto;
    margin-top: 50px;
    box-shadow: 5px 5px 5px 5px 15px  black;
}

.box{
    width: 40%;
    height: 500px;
    margin-bottom: 25px;
    margin-top: 25px;
    margin-left: 80px;
    border-radius: 30px;
    display: inline-block;
    background-color: var(--white-color);
}
.student{
    background-color: var(--white-color);
    display: inline-block;
}

.student_image{
    width: 80%;
    height: 45%;
    border-radius: 20px;
    border: 1px solid black;
    margin-top: 20%;
    margin-left: 10%;
    object-fit: cover;
}

.teacher{
    background-color: var(--white-color);
}

.teacher_image{
    width: 80%;
    height: 45%;
    border-radius: 20px;
    border: 1px solid black;
    margin-top: 20%;
    margin-left: 10%;
    object-fit: cover;
}

.select_login{
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    margin-top: 50px;
}

.buttons{
    text-decoration: none;
    font-family: arial;
    font-size: 22px;
    background-color: var(--first-color);
    padding: 15px;
    border-radius: 20px;
    font-weight: bold;
    color: var(--white-color);
    margin-left: 35%;
}

.buttons:hover{
    background-color: var(--text-color);
    transition-duration: 0.3s;
}

@media screen and (max-width: 796px){
    .student{
        display: block;
    }
    .box{
        width: 80%;
        height: 500px;
        margin-bottom: 25px;
        margin-top: 25px;
        margin-left: 50px;
        border-radius: 30px;
        display: inline-block;
        background-color: var(--white-color);
    }
}